body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
    
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
 }

 header{
    width: 100%;
    height: 40px;
    background-color: rgb(63, 29, 9);
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.5);
 }

 .baner{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
 }

 h1{
    font-size: 40px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
 }

 .letrascolor1{
    color: rgb(63, 29, 9);
 }

 .hr1{
    height: 10px;
    background-color: rgb(63, 29, 9);
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
 }

 .texto1intro{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    text-align: justify;
    line-height: 30px;
 }

 .h31{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
 }


 footer{
    margin-top: 100px;
    padding-top: 60px;
    width: 100%;
    height: 200px;
    background-color: rgb(219, 219, 219);
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.5);
 }

 a{
   color: rgb(63, 29, 9);
 }

.comment-box{
   box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.5);
   margin-right: 20%;
   margin-left: 20%;
   padding-top: 40px;
   padding-bottom: 40px;
   margin-top: 100px;
}

.textarea1{
   margin-top: 20px;
   width: 60%;
   height: 200px;
   margin-bottom: 30px;
}

.botonenviar{
   font-size: 20px;
   cursor: pointer;
   background-color: rgb(252, 207, 171);
   box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.5);
   border-radius: 6px;
}

.botonenviar:hover{
   background-color: rgb(240, 172, 116);
}

.h32{
   font-size: 30px;
}

.pr{
   cursor: pointer;
}

@media(max-width: 600px){
   .h32{
      font-size: 20px;
      
   }
}